.initial-navbar {
    background-color: rgba(0, 0, 0, .6);
}

.footer {
    background-color: rgb(35, 38, 39);
}

#home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    padding: 2em 1em;
    background: rgba(0, 0, 0, .6);
    width: fit-content;
    min-width: 540px;
    height: fit-content;
}

#home .container img {
    display: flex !important;
    width: 200px;
    height: 200px;
    margin: 0 !important;
}

#home .container .greeting {
    display: flex !important;
}

#home .container .typing-carousel {
    display: flex !important;
}

#home .container .arrow-center {
    margin: 1em 0em 1em 0em;
}

.card-body {
    text-align: left;
}